<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

!-- Header -->
<div th:fragment="grafiket">
<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
</header>

<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-suitcase w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrOfApprovedTrips}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Approved Trips</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrOfWaitingTrips}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Waiting Trips</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrOfCreatedTrips}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Created Trips</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-plane w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrOfFlights}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Flights</h4>
    </div>
  </div>
</div>

</div>



</body>
</html>