<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <title>All Users</title>
  <thead th:include="~{/Admin/components/headers :: headers}"></thead>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body>
<!--Admin Navigation Component-->

<div th:include="/Admin/components/adminNavigation :: navigation"></div>

<!-- All page content -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
<div id="message"></div>
    <input class="form-control form-control-lg" value="" id="searchUser" type="text" placeholder="Search User by Username" aria-label=".form-control-lg example">
  <table class="table table-dark table-hover">
        <thead>
       <th>Id</th>
       <th>Name</th>
       <th>Surname</th>
       <th>Gender</th>
       <th>Email</th>
       <th>Username</th>
       <th>Edit</th>
       <th>Delete</th>

        </thead>
      <tbody>
      <tr th:each="user : ${users}">
          <div th:if="${user.getIsEnabled()!=0}">
          <td th:text="${user.getId()}">Id</td>
          <td th:text="${user.getFirstName()}">Name</td>
          <td th:text="${user.getLastName()}">Surname</td>
          <td th:text="${user.getGender()}">Gender</td>
          <td th:text="${user.getEmail()}">Email</td>
          <td th:text="${user.getUsername()}">Username</td>
          <td><a th:id="${user.getId()}" th:href="@{'/admin/users/edit/'+${user.getId()}}" type="button" class="btn btn-outline-warning">Edit</a></td>
          <td><a type="button" th:id="${user.getId()}" class="deleteUser btn btn-outline-danger">Delete</a></td>
          </div>
      </tr>
      </tbody>
    </table>
</div>





</body>
</html>

<script>

    function getUsers(){
        $.ajax({
            url: "http://localhost:8080/admin/api/users",
            method: "GET",
            success: function(data){
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    console.log(data);
                    html+="<tr>"
                    if(data[i].isEnabled!=0) {
                        var x = "<td>" + data[i].id +
                            "</td><td>" + data[i].firstName +
                            "</td><td>" + data[i].lastName +
                            "</td><td>" + data[i].gender +
                            "</td><td>" + data[i].email +
                            "</td><td>" + data[i].username + "</td>" +
                            "<td> <a type='button'  href='/admin/users/edit/"+data[i].id+"' type=\"button\" class=\"btn btn-outline-warning\" id='" + data[i].id + "'>Edit</a> </td>" +
                            "<td> <button type='button'  type=\"button\" class=\"deleteUser btn btn-outline-danger\" id='" + data[i].id + "'>Delete</button> </td>";
                        html += x;
                        html += "</tr>";
                    }
                }
                $("tbody").html(html);
            }
        });
    }


    $(document).on('click', '.deleteUser', function (){
        var user_id=$(this).attr('id');
       console.log("test");
       $.ajax({
           url: "http://localhost:8080/admin/api/users/deleteUser/"+user_id,
           method: "GET",
            error: function (xhr, status, err) {

               $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                   "  <h3>Error!</h3>\n" +
                   "  <p>"+xhr.responseText+"</p>\n" +
                   "</div> ");
            },
           success: function(data){
               getUsers();

               $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                   "  <h3>Success!</h3>\n" +
                   "  <p>User deleted sucessfully</p>\n" +
                   "</div> ");
           }
        });
    });



    $('#searchUser').keyup(function getUserByName(){

        var emri=$(this).val();
        if(emri.length==0){
            getUsers();
        } else {
        $.ajax({
            url: "http://localhost:8080/admin/api/users/searchUserByName/"+emri,
            method: "GET",
            success: function(data){

                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html+="<tr>"
                    if(data[i].isEnabled!=0) {
                        var x = "<td>" + data[i].id +
                            "</td><td>" + data[i].firstName +
                            "</td><td>" + data[i].lastName +
                            "</td><td>" + data[i].gender +
                            "</td><td>" + data[i].email +
                            "</td><td>" + data[i].username + "</td>" +
                            "<td> <a type='button'  href='/admin/users/edit/"+data[i].id+"' type=\"button\" class=\"btn btn-outline-warning\" id='" + data[i].id + "'>Edit</a> </td>" +
                            "<td> <button type='button'  type=\"button\" class=\"deleteUser btn btn-outline-danger\" id='" + data[i].id + "'>Delete</button> </td>";
                        html += x;
                        html += "</tr>";
                    }
                }
                $("tbody").html(html);
            }
        })};
    });


</script>
<script th:src="@{/js/adminNavigation.js}"></script>

