<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Deleted Users</title>
<thead th:include="~{/Admin/components/headers :: headers}"></thead>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body>
<!--Admin Navigation Component-->

<div th:include="/Admin/components/adminNavigation :: navigation"></div>

<!-- All page content -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div id="message"></div>
    <input class="form-control form-control-lg" value="" id="searchUser" type="text" placeholder="Search User by Username" aria-label=".form-control-lg example">
    <table class="table table-dark table-hover">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Username</th>
        <th>Activate</th>

        </thead>
        <tbody>
        <tr th:each="user : ${users}">

                <td th:text="${user.getId()}">Id</td>
                <td th:text="${user.getFirstName()}">Name</td>
                <td th:text="${user.getLastName()}">Surname</td>
                <td th:text="${user.getGender()}">Gender</td>
                <td th:text="${user.getEmail()}">Email</td>
                <td th:text="${user.getUsername()}">Username</td>
                <td><a th:id="${user.getId()}" class="activate btn btn-outline-success">Activate</a></td>

        </tr>
        </tbody>
    </table>
</div>





</body>
</html>

<script>

    function getUsers(){
        $.ajax({
            url: "http://localhost:8080/admin/api/users",
            method: "GET",
            success: function(data){
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    console.log(data);

                    if(data[i].isEnabled==0) {
                        html+="<tr>"
                        var x = "<td>" + data[i].id +
                            "</td><td>" + data[i].firstName +
                            "</td><td>" + data[i].lastName +
                            "</td><td>" + data[i].gender +
                            "</td><td>" + data[i].email +
                            "</td><td>" + data[i].username + "</td>" +
                            "<td> <button type='button'  type=\"button\" class=\"activate btn btn-outline-success\" id='" + data[i].id + "'>Activate</button> </td>";
                        html += x;
                        html += "</tr>";
                    }
                }
                $("tbody").html(html);
            }
        });
    }


    $(document).on('click', '.activate', function (){
        var user_id=$(this).attr('id');

        $.ajax({
            url: "http://localhost:8080/admin/api/users/activateUser/"+user_id,
            method: "GET",
            error: function (xhr, status, err) {
                $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                    "  <h3>Error!</h3>\n" +
                    "  <p>An error ocured</p>\n" +
                    "</div> ");
            },
            success: function(data){
                getUsers();

                $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                    "  <h3>Success!</h3>\n" +
                    "  <p>User activated sucessfully</p>\n" +
                    "</div> ");
            }
        });
    });


    $('#searchUser').keyup(function getUserByName(){

        var emri=$(this).val();
        if(emri.length==0){
            getUsers();
        } else {
            $.ajax({
                url: "http://localhost:8080/admin/api/users/searchUserByName/"+emri,
                method: "GET",
                success: function(data){

                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        html+="<tr>"
                        if(data[i].isEnabled==0) {
                            var x = "<td>" + data[i].id +
                                "</td><td>" + data[i].firstName +
                                "</td><td>" + data[i].lastName +
                                "</td><td>" + data[i].gender +
                                "</td><td>" + data[i].email +
                                "</td><td>" + data[i].username + "</td>" +
                               "<td> <button type='button'  type=\"button\" class=\"activate btn btn-outline-success\" id='" + data[i].id + "'>Activate</button> </td>";
                            html += x;
                            html += "</tr>";
                        }
                    }
                    $("tbody").html(html);
                }
            })};
    });

</script>
<script th:src="@{/js/adminNavigation.js}"></script>

