<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Show request</title>
<thead th:include="~{/Admin/components/headers :: headers}"></thead>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body>
<!--Admin Navigation Component-->

<div th:include="/Admin/components/adminNavigation :: navigation"></div>

<!-- All page content -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <div id="message"></div>

  <input type="hidden" id="trip_id" th:value="${request.getTrip().getId()}">
  <table class="table table-dark table-hover">
  <tbody>

    <tr>
      <td>Id</td>
      <td th:text="${request.getId()}"></td>
    </tr>
    <tr>
      <td>First Name</td>
      <td th:text="${request.getTrip().getUser().getFirstName()}"></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td th:text="${request.getTrip().getUser().getLastName()}"></td>
    </tr>
    <tr>
      <td>Created Date</td>
      <td th:text="${request.getCreatedDateTime()}"></td>
    </tr>
    <tr>
      <td>From</td>
      <td th:text="${request.getTrip().getFromPlace()}"></td>
    </tr>
    <tr>
      <td>To</td>
      <td th:text="${request.getTrip().getToPlace()}"></td>
    </tr>
    <tr>
      <td>Departure Date</td>
      <td th:text="${request.getTrip().getDepartureDate()}"></td>
    </tr>
    <tr>
      <td>Arrival Date</td>
      <td th:text="${request.getTrip().getArrivalDate()}"></td>
    </tr>
    <tr>
      <td>Reason</td>
      <td th:text="${request.getTrip().getReason().getReasonTitle()}"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea th:text="${request.getTrip().getTripDescription()}" name="" id="" cols="30" rows="10"></textarea></td>
    </tr>
    <tr>
      <td>Status</td>
      <td th:if="${request.getTrip().getStatus().getId()==2}">Waiting for approval</td>
      <td th:if="${request.getTrip().getStatus().getId()==3}">Approved</td>
      <td th:if="${request.getTrip().getStatus().getId()==4}">Rejected</td>
    </tr>
    <tr>
      <td>Change Status</td>
      <td>
          <div th:if="${request.getTrip().getStatus().getId()==2}">
            <select name="" id="changeStatus" class='btn-outline-danger'>
              <option selected>Change Trip Status</option>
              <option value="3">Approve</option>
              <option value="4">Reject</option>
            </select>
          </div>
        <div th:if="${request.getTrip().getStatus().getId()==3}">
          <select name="" id="changeStatus"   class='btn-outline-danger'>
            <option selected>Change Trip Status</option>
            <option value="2">Wait for approval</option>
            <option value="4">Reject</option>
          </select>
        </div>
        <div th:if="${request.getTrip().getStatus().getId()==4}">
          <select  name="" id="changeStatus" class='btn-outline-danger'>
            <option selected>Change Trip Status</option>
            <option value="2">Wait for approval</option>
            <option value="3">Approve</option>
          </select>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>





</body>
</html>

<script>
  $(document).ready(function (){

    $(document).on('change', '#changeStatus',function (){
      var status_id=$(this).val();
      var trip_id=$("#trip_id").val();

      $.ajax({
        url: "http://localhost:8080/admin/api/request/changeStatus",
        method: "POST",
        data: {status_id: status_id, trip_id: trip_id},
        error: function (xhr, status, err) {
          $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                  "  <h3>Error!</h3>\n" +
                  "  <p>"+xhr.responseText+"</p>\n" +
                  "</div> ");
        },
        success: function(data){
           console.log("ok");
          $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                  "  <h3>Success!</h3>\n" +
                  "  <p>"+data+"</p>\n" +
                  "</div> ");
        }
      });

    });
  })


</script>
<script th:src="@{/js/adminNavigation.js}"></script>

