<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Flights</title>
  <thead th:include="~{/User/components/headers :: headers}"></thead>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

<!--User Navigation Component-->

<div th:include="/User/components/userNavigation :: navigation"></div>

<!-- All page content -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <br>
  <br>
  <br>
  <div id="message"></div>

  <table class="table table-dark table-hover">
    <thead>
    <th>Id</th>
    <th>From</th>
    <th>To</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">

        <td th:text="${flight.getId()}"></td>
        <td th:text="${flight.getTrip().getFromPlace()}"></td>
        <td th:text="${flight.getTrip().getToPlace()}"></td>
        <td th:text="${flight.getTrip().getDepartureDate()}"></td>
        <td th:text="${flight.getTrip().getArrivalDate()}"></td>
        <td>
          <a th:href="@{'/user/view/trip/'+${flight.getTrip().getId()}}" type="button" class="btn btn-outline-warning">View Trip</a>
          <a id="deleteFlight" th:name="${flight.getId()}" class="deleteUser btn btn-outline-danger">Delete</a>
        </td>
        <td></td>

    </tr>
    </tbody>
  </table>

</div>





</body>
</html>

<script>




  $(document).on('click', '#deleteFlight', function(){


    var flightId=$(this).attr("name");
    console.log(flightId);

    $.ajax({
      url: "http://localhost:8080/user/api/deleteFlight",
      method: "POST",
      data: {flightId: flightId},
      error: function (xhr, status, err) {
        $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                "  <h3>Error!</h3>\n" +
                "  <p>"+xhr.responseText+"</p>\n" +
                "</div> ");
      },
      success: function(data){

        console.log(data);
        $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                "  <h3>Success!</h3>\n" +
                "  <p>"+data+"</p>\n" +
                "</div> ");
        location.reload(true);
      }

    });



  });

</script>