<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navigation" class="w3-light-grey">
<!-- Top container -->

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <a class="w3-bar-item w3-right" th:href="@{/logout}">Log out</a>
    </a>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong>Admin</strong></span><br>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a th:href="@{/}"  class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bank fa-fw"></i>  Home</a>

       <!-- USER ACTIONS-->

        <div class="w3-dropdown-hover">
            <button class="w3-button"><i class="fa fa-users fa-fw"></i>   User Actions <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block">
                <a th:href="@{/admin/users/add}" class="w3-bar-item w3-button w3-pale-green"><i class="fa fa-user-plus fa-fw"></i>   Add New User</a>
                <a th:href="@{/admin/users/}" class="w3-bar-item w3-button w3-pale-green"><i class="fa fa-list fa-fw"></i>  All Users</a>
                <a th:href="@{/admin/users/deleted}" class="w3-bar-item w3-button w3-pale-red"><i class="fa fa-trash-o fa-fw" ></i>  Deleted Users</a>
            </div>
        </div>

        <!--REQUEST ACTIONS-->

        <div class="w3-dropdown-hover">
            <button class="w3-button"><i class="fa fa-ticket fa-fw"></i>   Request Actions <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block">
                <a th:href="@{/admin/view/requests/}" class="w3-bar-item w3-button w3-pale-green"><i class="fa fa-check fa-fw"></i>  Accepted Requests</a>
                <a th:href="@{/admin/view/requests/waiting}" class="w3-bar-item w3-button w3-pale-yellow"><i class="fa fa-clock-o fa-fw"></i>  Waiting Requests</a>
                <a th:href="@{/admin/view/requests/deleted}" class="w3-bar-item w3-button w3-pale-red"><i class="fa fa-trash-o fa-fw" ></i>  Rejected Requests</a>
            </div>
        </div>

        <!--FLIGHTS-->
        <a th:href="@{/admin/view/flights}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-plane fa-fw"></i>  Flights</a>


    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
</div>


</body>