<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/css/adminNavigation.css}"/>
  <link th:rel="stylesheet" th:href="@{/js/adminNavigation.js}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>


</head>-->

<body>

!-- Header -->
<div th:fragment="grafiket">
<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
</header>

<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrUsers}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Users</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-suitcase w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrTrips}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Trips</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-padding-16">
      <div class="w3-left"><i class="fa fa-plane w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrFlights}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Flights</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-flat-wet-asphalt w3-text-white w3-padding-16">
      <div class="w3-left"><i class="fa fa-bar-chart w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3 th:text="${nrRequests}"></h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Waiting Requests</h4>
    </div>
  </div>
</div>

</div>



</body>
</html>