<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trip</title>
    <thead th:include="~{/User/components/headers :: headers}"></thead>
    <link th:rel="stylesheet" th:href="@{/css/User/modalStyle.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

<!--User Navigation Component-->

<div th:include="/User/components/userNavigation :: navigation"></div>

<!-- All page content -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <br>
    <br>
    <br>
    <div id="message"></div>
    <input type="hidden" id="trip_id" th:value="${trip.getId()}">
    <table class="table table-dark table-hover">
        <tbody>

        <tr>
            <td>Id</td>
            <td th:text="${trip.getId()}">

            </td>
        </tr>

        <tr>
            <td>From</td>
            <td th:text="${trip.getFromPlace()}">

            </td>
        </tr>
        <tr>
            <td>To</td>
            <td th:text="${trip.getToPlace()}">

            </td>
        </tr>
        <tr>
            <td>Departure Date</td>
            <td th:text="${trip.getDepartureDate()}">

            </td>
        </tr>
        <tr>
            <td>Arrival Date</td>
            <td th:text="${trip.getArrivalDate()}">

            </td>
        </tr>
        <tr>
            <td>Reason</td>
            <td th:text="${trip.getReason().getReasonTitle()}">
            </td>
        </tr>

        <tr>
            <td>Description</td>
            <td><textarea id="tripDescription" th:text="${trip.getTripDescription()}" name="" cols="30" rows="10"></textarea>

            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:if="${trip.getStatus().getId()==1}">Created</td>
            <td th:if="${trip.getStatus().getId()==2}">Waiting for approval</td>
            <td th:if="${trip.getStatus().getId()==3}">Approved</td>
            <td th:if="${trip.getStatus().getId()==4}">Rejected</td>
        </tr>
        <tr>
            <td>Actions</td>
            <td>
            <a th:if="${trip.getStatus().getId()==1}" type="button" id="sendForApproval" th:name="${trip.getId()}" class="btn btn-outline-warning"> Send for approval </a>

            <a th:if="${trip.getStatus().getId()==3}"  type="button" id="addFlightsModal" th:name="${trip.getId()}" class="btn btn-outline-warning"> Add Flights </a>
            <a type="button" id="deleteTrip" th:name="${trip.getId()}" class="btn btn-outline-danger"> Delete </a>
            <a type="button" th:href="@{'/user/view/flightsFromTrip/'+${trip.getId()}}" class="btn btn-outline-danger"> View Flights </a>
            </td>
        </tr>


        </tbody>
    </table>
</div>








<div id="id01" class="modal">

    <div class="modal-content">
        <div id="modalDataFlight" class="container">



        </div>
    </div>
</div>
</body>
</html>




<script>
    $(document).on('click', '#sendForApproval', function(){


        var tripId=$(this).attr("name");
        console.log(tripId);

        $.ajax({
            url: "http://localhost:8080/user/api/changeTripStatus",
            method: "POST",
            data: {tripId: tripId},
            error: function (xhr, status, err) {
                $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                    "  <h3>Error!</h3>\n" +
                    "  <p>"+xhr.responseText+"</p>\n" +
                    "</div> ");
                location.reload(true);
            },
            success: function(data){

                console.log(data);
                $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                    "  <h3>Success!</h3>\n" +
                    "  <p>"+data+"</p>\n" +
                    "</div> ");
                location.reload(true);
            }

        });



    });


    $(document).on('click', '#addFlights', function(){


        var tripId=$(this).attr("name");
        console.log(tripId);

        $.ajax({
            url: "http://localhost:8080/user/api/addFlight",
            method: "POST",
            data: {tripId: tripId},
            error: function (xhr, status, err) {
                var modal = document.getElementById('id01');
                modal.style.display = "none";
                $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                    "  <h3>Error!</h3>\n" +
                    "  <p>"+xhr.responseText+"</p>\n" +
                    "</div> ");
            },
            success: function(data){

                var modal = document.getElementById('id01');
                modal.style.display = "none";
                console.log(data);
                $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                    "  <h3>Success!</h3>\n" +
                    "  <p>"+data+"</p>\n" +
                    "</div> ");
            }

        });



    });


    $(document).on('click', '#deleteTrip', function(){


        var tripId=$(this).attr("name");
        console.log(tripId);

        $.ajax({
            url: "http://localhost:8080/user/api/deleteTrip",
            method: "POST",
            data: {tripId: tripId},
            error: function (xhr, status, err) {
                $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                    "  <h3>Error!</h3>\n" +
                    "  <p>"+xhr.responseText+"</p>\n" +
                    "</div> ");
            },
            success: function(data){

                console.log(data);
                $('#message').html("<div class=\"w3-panel w3-green\">\n" +
                    "  <h3>Success!</h3>\n" +
                    "  <p>"+data+"</p>\n" +
                    "</div> ");


            }

        });



    });



    $(document).on('click', '#addFlightsModal', function(){


        var tripId=$(this).attr("name");
        console.log(tripId);

        $.ajax({
            url: "http://localhost:8080/user/api/getTripById",
            method: "POST",
            data: {tripId: tripId},
            error: function (xhr, status, err) {

                $('#message').html("<div class=\"w3-panel w3-red\">\n" +
                    "  <h3>Error!</h3>\n" +
                    "  <p>"+xhr.responseText+"</p>\n" +
                    "</div> ");
            },
            success: function(data){

                var x="From Place: "+data.fromPlace+" <br> " +
                    "To Place: "+data.toPlace+" <br> "+
                    "Departure Date: "+data.departureDate+" <br> " +
                    "Arrival Date: "+data.arrivalDate+" <br> ";


                x+= "<div class=\"clearfix\">\n" +
                    "                <button type=\"button\" class=\"cancelbtn\" onclick='closeModal()'>Cancel</button>\n" +
                    "                <button id='addFlights' name='"+data.id+"' type=\"button\" class=\"confirmbtn\">Confirm</button>\n" +
                    "            </div>";

                $('#modalDataFlight').html(x);
                document.getElementById('id01').style.display='block';
                console.log(data);

            }

        });



    });




</script>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function closeModal() {
        var modal = document.getElementById('id01');

        modal.style.display = "none";
    }
</script>

